.cards-dev{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;
}

img{
    margin: none;
    padding: none;
    border-radius: 50%;
    width: 4rem;
    overflow: hidden;
}
.card{
    margin-top: 5em;
    margin-left: 1em;

     width: 200px;
   // border: black 1px solid;
    display: inline-block;
    padding: 0.5em;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(229,240,229,1) 0%, rgba(0,212,255,1) 100%);   
   
    color: black;
    transition: .7s ease-in-out;

    
}

.card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.book-btn{
    padding: 6px;   
    width: 8em;
    border: none;
    border-radius: 8px;
    //box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(229,240,229,1) 0%, rgba(0,212,255,1) 100%);   
    //color: black;
    transition: .7s ease-in-out;

}

.book-btn:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.two-btns-dev{
    display: flex;
    justify-content: space-around;
}