.form-dev{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
}

form > input{
    text-align: center;
    width: 250px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

        transition: ease 0.5s;
}


form > input:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

